<!DOCTYPE html>
<html>
  <head>
    <title>Track Delivery | dlvry.gh</title>
  </head>
  <body>
    <h1>Delivery Tracker</h1>
    <h2>Details of Delivery</h2>
    <h3>Contact of Person in Charge</h3>
    <p>Name: Oppey Man</p>
    <p>Tel: 024444419</p>
    <h3>Description of Items</h3>
    <p>All those awesome things</p>
    <h2>Current Location of Delivery</h2>
    <ul>
      <li>Google Map</li>
      <li>GhanaPost GPS</li>
      <li>Visual Description</li>
      <li>Photo</li>
    </ul>
  </body>
</html>
