<!DOCTYPE html>
<html>
  <head>
    <title>Please be patient | dlvr.gh</title>
  </head>
  <body>
    <h1>dlvry.gh</h1>
    <h2>Please be patient</h2>
    <p>Please be patient while we review your request.</p>
    <p>You will receive a text message from us very soon with the status of your request</p>
    <!-- At this point the operator will have to check if the delivery is possible. If not, he will send a message telling the user that the delivery will not be possible. If it will be possible, the message will be sent with a token which shows the link to the delivery status page. -->
  </body>
</html>
